.descripcion-juego {
    position: absolute;
    top: 0;
    left: 105%;
    width: 330px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 100%);
    z-index: 100;
}

.descripcion-juego.left {
    left: auto;
    right: 105%;
}