.navbar {
    border-bottom: 5px solid #0000ad;
    background: linear-gradient(to right, #660b1a, #3e135d);
}

.header-text {
    text-align: center;
}

.carousel-item img {
    border: 5px solid #0000ad;
    border-radius: 8px;
    object-fit: cover;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #0000ad;
}